/* div.container {
  max-width: 1440px;
  margin: 0 auto;
} */

/* div.block {
  display: flex;
  justify-content: space-between;
  width: 100%;
} */

div.logo_mock {
  width: 200px;
  height: 200px;

  /* margin: 40px 100px; */

  border-radius: 62px;
  background-color: #c4c4c4;
}

div.drawn_button_cnt {
  display: flex;
  justify-content: space-around;
}

div.drawn_button {
  /* width: 420px;
  height: 80px;
  padding: 10px 50px;
  box-sizing: border-box;
  font-weight: 700;

  cursor: pointer; */
}

div.download_counter {
  text-align: center;

  background-image: url("./img/counter_bg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  box-sizing: border-box;
}

div.download_counter > p {
  font-weight: 900;
  font-size: 36px;
  margin: 0;
}

div.download_counter > p#download_counter_number {
  font-size: 72px;
}

h1 {
  font-weight: 900;
  font-size: 48px;
}

p.e {
  padding: 0;
  margin: 0;

  text-align: right;
  font-weight: 900;
  font-size: 120px;
  color: #d0cece;
}

.m_hidden {
  display: none;
}

div > div.step0 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  background-image: url("/img/step_0_v3.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}
.step1 {
  background-image: url("/img/step_1_v3.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
}
.step2 {
  background-image: url("/img/step_2_v3.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}
/* .step3 {
  background-image: url("/img/step_3_v3.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
} */

#step_3_img {
  position: absolute;
  top: -2rem;
  left: 1rem;
  z-index: -1;
}

#step_3_img_more {
  position: absolute;
  top: -4rem;
  left: 5rem;
  z-index: -1;
}

#bg_logo_text {
  padding: 0;
  margin: 0;
  text-align: right;
  font-weight: 900;
  font-size: 120px;
  color: #d0cece;
  opacity: 0.55;

  position: absolute;
  top: -20px;
  right: 10vw;
  z-index: -1;
}
